<div class="border rounded ps-3 pe-2 py-2 d-flex justify-content-between align-items-center">
  <div class="w-30">
    <strong>
      {{query.displayName}}
    </strong>
    <small>
      <i tooltip="{{description}}" placement="bottom" class="bi bi-question-circle"></i>
    </small>
  </div>

  <div>
    <span [ngSwitch]="query.units">
      <span *ngSwitchCase="QueryUnit.flags">
        <span *ngIf="log === undefined || log[query.propertyName] === undefined">--------</span>
        <span *ngIf="log !== undefined && log[query.propertyName] !== undefined">{{log[query.propertyName] | numberTo8BitArray}}</span>
      </span>

      <span *ngSwitchCase="QueryUnit.numberHex">
        <span *ngIf="log === undefined || log[query.propertyName] === undefined">----</span>
        <span *ngIf="log !== undefined && log[query.propertyName] !== undefined">0x{{log[query.propertyName].toString(16)}}</span>
      </span>

      <span *ngSwitchDefault>
        <span *ngIf="log === undefined || log[query.propertyName] === undefined">---</span>
        <span *ngIf="log !== undefined && log[query.propertyName] !== undefined">{{log[query.propertyName] | number}}</span>
      </span>
    </span>

    <span [ngSwitch]="query.units">
      <span *ngSwitchCase="QueryUnit.percent"> %</span>
      <span *ngSwitchCase="QueryUnit.degree"> °</span>
      <span *ngSwitchCase="QueryUnit.volt"> V</span>
      <span *ngSwitchCase="QueryUnit.step"> step(s)</span>
      <span *ngSwitchCase="QueryUnit.hz"> Hz</span>
      <span *ngSwitchCase="QueryUnit.kHz"> kHz</span>
      <span *ngSwitchCase="QueryUnit.mHz"> MHz</span>
      <span *ngSwitchCase="QueryUnit.rpm"> RPM</span>
      <span *ngSwitchCase="QueryUnit.ms"> ms</span>
      <span *ngSwitchCase="QueryUnit.us"> μs</span>

      <span *ngSwitchCase="QueryUnit.kPa"> kPa</span>
      <span *ngSwitchCase="QueryUnit.bar"> bar</span>
      <span *ngSwitchCase="QueryUnit.psi"> psi</span>

      <span *ngSwitchCase="QueryUnit.celsius"> °C</span>
      <span *ngSwitchCase="QueryUnit.fahrenheit"> °F</span>
      <span *ngSwitchCase="QueryUnit.kelvin"> K</span>
    </span>
  </div>

  <form [formGroup]="form">
    <div class="btn-group btn-group-sm" role="group">
      <input type="checkbox" id="{{query.propertyName}}-query" formControlName="query" class="btn-check">
      <label class="btn btn-outline-primary" for="{{query.propertyName}}-query">
        <i class="bi bi-eye"></i>
      </label>
    </div>
  </form>
</div>