<div class="border rounded ps-3 pe-2 py-2 d-flex justify-content-between align-items-center">
  <div tooltip="{{description}}" placement="bottom" class="w-25">
    <strong>
      {{query.displayName}}
    </strong>
    <small>
      <i class="bi bi-question-circle"></i>
    </small>
  </div>

  <div>
    <div *ngIf="query.type === QueryType.number">
      <span *ngIf="log === undefined || log[query.propertyName] === undefined">---</span>
      <span *ngIf="log !== undefined && log[query.propertyName] !== undefined">{{log[query.propertyName]}}</span>

      <span *ngIf="query.units === QueryUnit.percent"> %</span>
      <span *ngIf="query.units === QueryUnit.degree"> °</span>
      <span *ngIf="query.units === QueryUnit.volt"> V</span>
      <span *ngIf="query.units === QueryUnit.step"> step(s)</span>
      <span *ngIf="query.units === QueryUnit.hertz"> Hz</span>
      <span *ngIf="query.units === QueryUnit.rpm"> RPM</span>
      <span *ngIf="query.units === QueryUnit.ms"> ms</span>

      <span *ngIf="query.units === QueryUnit.bar"> bar</span>
      <span *ngIf="query.units === QueryUnit.psi"> psi</span>
      <span *ngIf="query.units === QueryUnit.kPa"> kPa</span>

      <span *ngIf="query.units === QueryUnit.celsius"> °C</span>
      <span *ngIf="query.units === QueryUnit.kelvin"> K</span>
      <span *ngIf="query.units === QueryUnit.fahrenheit"> °F</span>
    </div>

    <div *ngIf="query.type === QueryType.flags">
      <span *ngIf="log === undefined || log[query.propertyName] === undefined">--------</span>
      <span *ngIf="log !== undefined && log[query.propertyName] !== undefined">{{log[query.propertyName] | numberTo8BitArray}}</span>
    </div>
  </div>

  <form [formGroup]="form">
    <div class="btn-group btn-group-sm" role="group">
      <input type="checkbox" id="{{query.propertyName}}-query" formControlName="query" class="btn-check">
      <label class="btn btn-outline-primary" for="{{query.propertyName}}-query">
        <i class="bi bi-eye"></i>
      </label>

      <input type="checkbox" id="{{query.propertyName}}-chart" formControlName="chart" class="btn-check">
      <label class="btn btn-outline-primary" for="{{query.propertyName}}-chart">
        <i class="bi bi-graph-up"></i>
      </label>
    </div>
  </form>
</div>