<div class="d-flex btn-group" role="group" aria-label="Monitor action buttons">
  <button type="button" (click)="onStartClicked()" class="btn btn-outline-success">
    <small>
      <i class="bi bi-play-circle"></i>
    </small>    
    Start
  </button>
  <button type="button" (click)="onStopClicked()" class="btn btn-outline-danger">
    <small>
      <i class="bi bi-stop-circle"></i>
    </small>    
    Stop
  </button>
</div>
<hr>

<app-monitor-chart></app-monitor-chart>

<app-monitor-values-common [port]="port" [log]="log"></app-monitor-values-common>
<app-monitor-values-advanced [port]="port" [log]="log"></app-monitor-values-advanced>
<app-monitor-values-debug [port]="port" [log]="log"></app-monitor-values-debug>

<app-monitor-flags [port]="port" [log]="log"></app-monitor-flags>