<li class="list-group-item d-flex justify-content-between align-items-center">
  <strong>({{code}})</strong>

  <span>{{description}}</span>

  <div>
    <span *ngIf="isActiveFault == undefined || isStoredFault == undefined" class="badge text-bg-secondary rounded-pill"><i class="bi bi-question-lg"></i></span>
    <div *ngIf="isActiveFault != undefined && isStoredFault != undefined">
      <span *ngIf="!isActiveFault && !isStoredFault" class="badge text-bg-success rounded-pill"><i class="bi bi-check-lg"></i></span>
      <span *ngIf="isStoredFault" class="badge text-bg-warning rounded-pill"><i class="bi bi-clock-history"></i></span>
      <span *ngIf="isActiveFault" class="badge text-bg-danger rounded-pill"><i class="bi bi-fire"></i></span>
    </div>
  </div>
</li>