<div class="card mb-3">
  <div class="card-header text-center">
    <h3>
      <i class="bi bi-exclamation-triangle"></i>
      <span i18n>Faults</span>
    </h3>
  </div>

  <div class="card-body pb-0">
    <div class="row">
      <app-test-fault i18n-description code="11" description="Oxygen sensor" [bit]="0" [faults]="faults" [storedFaults]="storedFaults" class="mb-3 col-12 col-lg-6"></app-test-fault>
      <app-test-fault i18n-description code="12" description="Intake air flow sensor" [bit]="1" [faults]="faults" [storedFaults]="storedFaults" class="mb-3 col-12 col-lg-6"></app-test-fault>
      <app-test-fault i18n-description code="13" description="Intake air temperature sensor" [bit]="2" [faults]="faults" [storedFaults]="storedFaults" class="mb-3 col-12 col-lg-6"></app-test-fault>
      <app-test-fault i18n-description code="14" description="Throttle position sensor" [bit]="3" [faults]="faults" [storedFaults]="storedFaults" class="mb-3 col-12 col-lg-6"></app-test-fault>
      <app-test-fault i18n-description code="15" description="ISC motor position sensor" [bit]="4" [faults]="faults" [storedFaults]="storedFaults" class="mb-3 col-12 col-lg-6"></app-test-fault>
      <app-test-fault i18n-description code="21" description="Engine coolant temperature sensor" [bit]="5" [faults]="faults" [storedFaults]="storedFaults" class="mb-3 col-12 col-lg-6"></app-test-fault>
      <app-test-fault i18n-description code="22" description="Engine speed sensor" [bit]="6" [faults]="faults" [storedFaults]="storedFaults" class="mb-3 col-12 col-lg-6"></app-test-fault>
      <app-test-fault i18n-description code="23" description="TDC sensor" [bit]="7" [faults]="faults" [storedFaults]="storedFaults" class="mb-3 col-12 col-lg-6"></app-test-fault>
      <app-test-fault i18n-description code="24" description="Vehicle speed sensor" [bit]="8" [faults]="faults" [storedFaults]="storedFaults" class="mb-3 col-12 col-lg-6"></app-test-fault>
      <app-test-fault i18n-description code="25" description="Barometric pressure sensor" [bit]="9" [faults]="faults" [storedFaults]="storedFaults" class="mb-3 col-12 col-lg-6"></app-test-fault>
      <app-test-fault i18n-description code="31" description="Knock sensor" [bit]="10" [faults]="faults" [storedFaults]="storedFaults" class="mb-3 col-12 col-lg-6"></app-test-fault>
      <app-test-fault i18n-description code="36" description="Ignition circuit" [bit]="11" [faults]="faults" [storedFaults]="storedFaults" class="mb-3 col-12 col-lg-6"></app-test-fault>
      <app-test-fault i18n-description code="41" description="Injector circuit" [bit]="12" [faults]="faults" [storedFaults]="storedFaults" class="mb-3 col-12 col-lg-6"></app-test-fault>
      <app-test-fault i18n-description code="42" description="Fuel pump relay" [bit]="13" [faults]="faults" [storedFaults]="storedFaults" class="mb-3 col-12 col-lg-6"></app-test-fault>
      <app-test-fault i18n-description code="43" description="EGR temperature sensor" [bit]="14" [faults]="faults" [storedFaults]="storedFaults" class="mb-3 col-12 col-lg-6"></app-test-fault>
      <app-test-fault i18n-description code="44" description="Ignition coil" [bit]="15" [faults]="faults" [storedFaults]="storedFaults" class="mb-3 col-12 col-lg-6"></app-test-fault>
    </div>
  </div>

  <div class="card-footer">
    <div class="d-grid gap-2">
      <button class="btn btn-outline-info" type="button" [disabled]="!port" (click)="onReadAllFaultsClicked()">
        <i class="bi bi-arrow-clockwise"></i>
        <span i18n>Read all faults</span>
      </button>

      <button class="btn btn-outline-warning" type="button" [disabled]="!port" (click)="onActivateCommandClicked(Commands.clearFaults)">
        <i class="bi bi-trash"></i>
        <span i18n>Clear all faults</span>
      </button>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header text-center">
    <h3>
      <i class="bi bi-terminal"></i>
      <span i18n>Commands</span>
    </h3>
  </div>

  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-auto">
        <label i18n for="components" class="col-form-label">Activate for ~6 seconds:</label>
      </div>
      <div class="col-auto">
        <div class="btn-group btn-group-sm" role="group" aria-label="Components" id="components">
          <button i18n class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.activateBoostControlSolenoid)">Boost control solenoid</button>
          <button i18n class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.mivecMotor)">MIVEC motor</button>
          <button i18n class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.activateEgrSolenoid)">EGR solenoid</button>
          <button i18n class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.activateFuelPressureSolenoid)">Fuel pressure solenoid</button>
          <button i18n class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.activatePurgeSolenoid)">Purge solenoid</button>
          <button i18n class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.turnOnFuelPump)">Fuel pump</button>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-auto">
        <label i18n for="injectors" class="col-form-label">Disable injector for ~6 seconds:</label>
      </div>
      <div class="col-auto">
        <div class="btn-group btn-group-sm" role="group" aria-label="Injectors" id="injectors">
          <button class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.disableInjector1)">1</button>
          <button class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.disableInjector2)">2</button>
          <button class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.disableInjector3)">3</button>
          <button class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.disableInjector4)">4</button>
          <button class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.disableInjector5)">5</button>
          <button class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.disableInjector6)">6</button>
        </div>
      </div>
    </div>
  </div>
</div>