<div class="card mb-3">
  <div class="card-header text-center">
    <h3>
      <i class="bi bi-exclamation-triangle"></i>
      <span i18n>Faults</span>
    </h3>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-12 col-lg-6">
        <ul class="list-group">
          <app-test-fault i18n-description code="11" [isStoredFault]="log?.stFaultLo?.bit0" [isActiveFault]="log?.faultHi?.bit0" description="Oxygen sensor"></app-test-fault>
          <app-test-fault i18n-description code="12" [isStoredFault]="log?.stFaultLo?.bit1" [isActiveFault]="log?.faultHi?.bit1" description="Intake air flow sensor"></app-test-fault>
          <app-test-fault i18n-description code="13" [isStoredFault]="log?.stFaultLo?.bit2" [isActiveFault]="log?.faultHi?.bit2" description="Intake air temperature sensor"></app-test-fault>
          <app-test-fault i18n-description code="14" [isStoredFault]="log?.stFaultLo?.bit3" [isActiveFault]="log?.faultHi?.bit3" description="Throttle position sensor"></app-test-fault>
          <app-test-fault i18n-description code="15" [isStoredFault]="log?.stFaultLo?.bit4" [isActiveFault]="log?.faultHi?.bit4" description="ISC motor position sensor"></app-test-fault>
          <app-test-fault i18n-description code="21" [isStoredFault]="log?.stFaultLo?.bit5" [isActiveFault]="log?.faultHi?.bit5" description="Engine coolant temperature sensor"></app-test-fault>
          <app-test-fault i18n-description code="22" [isStoredFault]="log?.stFaultLo?.bit6" [isActiveFault]="log?.faultHi?.bit6" description="Engine speed sensor"></app-test-fault>
          <app-test-fault i18n-description code="23" [isStoredFault]="log?.stFaultLo?.bit7" [isActiveFault]="log?.faultHi?.bit7" description="TDC sensor"></app-test-fault>
        </ul>
      </div>

      <div class="col-12 col-lg-6">
        <ul class="list-group">
          <app-test-fault i18n-description code="24" [isStoredFault]="log?.stFaultHi?.bit0" [isActiveFault]="log?.faultHi?.bit0" description="Vehicle speed sensor"></app-test-fault>
          <app-test-fault i18n-description code="25" [isStoredFault]="log?.stFaultHi?.bit1" [isActiveFault]="log?.faultHi?.bit1" description="Barometric pressure sensor"></app-test-fault>
          <app-test-fault i18n-description code="31" [isStoredFault]="log?.stFaultHi?.bit2" [isActiveFault]="log?.faultHi?.bit2" description="Knock sensor"></app-test-fault>
          <app-test-fault i18n-description code="36" [isStoredFault]="log?.stFaultHi?.bit7" [isActiveFault]="log?.faultHi?.bit7" description="Ignition circuit"></app-test-fault>
          <app-test-fault i18n-description code="41" [isStoredFault]="log?.stFaultHi?.bit3" [isActiveFault]="log?.faultHi?.bit3" description="Injector circuit"></app-test-fault>
          <app-test-fault i18n-description code="42" [isStoredFault]="log?.stFaultHi?.bit4" [isActiveFault]="log?.faultHi?.bit4" description="Fuel pump relay"></app-test-fault>
          <app-test-fault i18n-description code="43" [isStoredFault]="log?.stFaultHi?.bit5" [isActiveFault]="log?.faultHi?.bit5" description="EGR"></app-test-fault>
          <app-test-fault i18n-description code="44" [isStoredFault]="log?.stFaultHi?.bit6" [isActiveFault]="log?.faultHi?.bit6" description="Ignition coil"></app-test-fault>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="d-grid gap-2">
      <button class="btn btn-outline-info" type="button" [disabled]="!port" (click)="onReadAllFaultsClicked()">
        <i class="bi bi-arrow-clockwise"></i>
        <span i18n>Read all faults</span>
      </button>

      <button class="btn btn-outline-warning" type="button" [disabled]="!port" (click)="onActivateCommandClicked(Commands.clearFaults)">
        <i class="bi bi-trash"></i>
        <span i18n>Clear all faults</span>
      </button>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header text-center">
    <h3>
      <i class="bi bi-terminal"></i>
      <span i18n>Commands</span>
    </h3>
  </div>

  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-auto">
        <label i18n for="components" class="col-form-label">Activate for ~6 seconds:</label>
      </div>
      <div class="col-auto">
        <div class="btn-group btn-group-sm" role="group" aria-label="Components" id="components">
          <button i18n class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.activateBoostControlSolenoid)">Boost control solenoid</button>
          <button i18n class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.mivecMotor)">MIVEC/VICS motor</button>
          <button i18n class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.activateEgrSolenoid)">EGR solenoid</button>
          <button i18n class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.activateFuelPressureSolenoid)">Fuel pressure solenoid</button>
          <button i18n class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.activatePurgeSolenoid)">Purge solenoid</button>
          <button i18n class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.turnOnFuelPump)">Fuel pump</button>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-auto">
        <label i18n for="injectors" class="col-form-label">Disable injector for ~6 seconds:</label>
      </div>
      <div class="col-auto">
        <div class="btn-group btn-group-sm" role="group" aria-label="Injectors" id="injectors">
          <button class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.disableInjector1)">1</button>
          <button class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.disableInjector2)">2</button>
          <button class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.disableInjector3)">3</button>
          <button class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.disableInjector4)">4</button>
          <button class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.disableInjector5)">5</button>
          <button class="btn btn-outline-primary" [disabled]="!port" (click)="onActivateCommandClicked(Commands.disableInjector6)">6</button>
        </div>
      </div>
    </div>
  </div>
</div>