<div class="card mb-3">
  <div class="card-header text-center">
    <h3>
      <i class="bi bi-database-fill-gear"></i>
      <span i18n>Internal values</span>
    </h3>
  </div>

  <div class="card-body pb-0">
    <div class="row">
      <app-monitor-value i18n-description [port]="port" [query]="Queries.port1" description="Port 1 data register"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      <app-monitor-value i18n-description [port]="port" [query]="Queries.port2" description="Port 2 data register"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      <app-monitor-value i18n-description [port]="port" [query]="Queries.port3" description="Port 3 data register"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      <app-monitor-value i18n-description [port]="port" [query]="Queries.port4" description="Port 4 data register"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      <app-monitor-value i18n-description [port]="port" [query]="Queries.port5" description="Port 5 data register"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      <app-monitor-value i18n-description [port]="port" [query]="Queries.port6" description="Port 6 data register"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      
      <app-monitor-value i18n-description [port]="port" [query]="Queries.port3Snap0" description="Port 3 snapshot (0)"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      <app-monitor-value i18n-description [port]="port" [query]="Queries.port3Snap1" description="Port 3 snapshot (1)"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      <app-monitor-value i18n-description [port]="port" [query]="Queries.port4Snap" description="Port 4 snapshot"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>

      <app-monitor-value i18n-description [port]="port" [query]="Queries.temp1" description="Temporary value 1"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      <app-monitor-value i18n-description [port]="port" [query]="Queries.temp2" description="Temporary value 2"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      <app-monitor-value i18n-description [port]="port" [query]="Queries.temp3" description="Temporary value 3"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      <app-monitor-value i18n-description [port]="port" [query]="Queries.temp4" description="Temporary value 4"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      <app-monitor-value i18n-description [port]="port" [query]="Queries.temp5" description="Temporary value 5"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>

      <app-monitor-value i18n-description [port]="port" [query]="Queries.isc0" description="Long term correction factors/feedback for the ISC step adjustment"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      <app-monitor-value i18n-description [port]="port" [query]="Queries.iscY0" description="Short term correction factors/feedback for the ISC step adjustment"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      <app-monitor-value i18n-description [port]="port" [query]="Queries.isc1" description="Long term learning variable when A/C is on"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      <app-monitor-value i18n-description [port]="port" [query]="Queries.iscY1" description="ISC learning variable when A/C is on and PS is off"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>

      <app-monitor-value i18n-description [port]="port" [query]="Queries.ftrim_low_0x1B" description="Fuel trim (low 0x1B)"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      <app-monitor-value i18n-description [port]="port" [query]="Queries.ftrim_low_0x1F" description="Fuel trim (low 0x1F)"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
      <app-monitor-value i18n-description [port]="port" [query]="Queries.ftrim_low_0x3D" description="Fuel trim (low 0x3D)"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>

      <app-monitor-value i18n-description [port]="port" [query]="Queries.ecuVersion" description="ECU Version"class="mb-3 col-12 col-lg-6 col-xxl-4"></app-monitor-value>
    </div>
  </div>
</div>