<div class="card mb-3">
  <div class="card-header text-center">
    <h3>
      <i class="bi bi-database-fill-gear"></i>
      <span i18n>Internal values</span>
    </h3>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <ul class="list-group">
          <app-monitor-value i18n-description [query]="Queries.port1" description="Port 1 data register"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.port2" description="Port 2 data register"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.port3" description="Port 3 data register"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.port4" description="Port 4 data register"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.port5" description="Port 5 data register"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.port6" description="Port 6 data register"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.port3Snap0" description="Port 3 snapshot (0)"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.port3Snap1" description="Port 3 snapshot (1)"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.port4Snap" description="Port 4 snapshot"></app-monitor-value>
        </ul>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <ul class="list-group">
          <app-monitor-value i18n-description [query]="Queries.temp1" description="Temporary value 1"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.temp2" description="Temporary value 2"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.temp3" description="Temporary value 3"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.temp4" description="Temporary value 4"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.temp5" description="Temporary value 5"></app-monitor-value>
        </ul>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <ul class="list-group">
          <app-monitor-value i18n-description [query]="Queries.isc0" description="Long term correction factors/feedback for the ISC step adjustment"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.iscY0" description="Short term correction factors/feedback for the ISC step adjustment"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.isc1" description="Long term learning variable when A/C is on"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.iscY1" description="ISC learning variable when A/C is on and PS is off"></app-monitor-value>
        </ul>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <ul class="list-group">
          <app-monitor-value i18n-description [query]="Queries.ftrim_low_0x1B" description="Fuel trim (low 0x1B)"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.ftrim_low_0x1F" description="Fuel trim (low 0x1F)"></app-monitor-value>
          <app-monitor-value i18n-description [query]="Queries.ftrim_low_0x3D" description="Fuel trim (low 0x3D)"></app-monitor-value>
        </ul>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <ul class="list-group">
          <app-monitor-value i18n-description [query]="Queries.ecuVersion" description="Fuel trim (low 0x1B)"></app-monitor-value>
        </ul>
      </div>
    </div>
  </div>
</div>